<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="El_Kosier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="El_Kosier.Properties.Settings.cn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\El_Kosier\Database1.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <userSettings>
        <El_Kosier.Properties.Settings>
            <setting name="mahmoud" serializeAs="String">
                <value>El-Kosier</value>
            </setting>
        </El_Kosier.Properties.Settings>
    </userSettings>
</configuration>