
*.exe
*.config
*.manifest
*.pdb
*.suo
*.Cache
El_Kosier/obj/x86/Debug/ar/El_Kosier.resources.dll
*.dll
*.ide-shm
*.lock
*.ide-wal
*.ide
El_Kosier/env.cs
El_Kosier/obj/x86/Debug/WindowsFormsApplication3.csproj.FileListAbsolute.txt
